.main {
  text-align: center;
  justify-content: center;
  display: flex; 
  padding-top: 90px;
  padding-bottom: 90px;
  height:-10px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHHkaLPoocrIUnlSF67v0WEQwkafSMHdQDDQ&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;  
}
.sub-main {
  display: flex;
  justify-content: center;
  height: 550px;
  width: 35%;
  margin-left: 50%;
  /* box-shadow: 20px 20px 20px 20px rgb(207, 207, 207); */
  padding-top: 30px;
  border-radius: 60px; 
  
}
.huntl{
  color:white;
  
}
.login_page{
 margin-left: 7%;
 color: white;
}
.imgs {
  margin-top: -10%;
    /* padding-top: 20px; */
    justify-content: center;
    display: flex;
  }
.container-image {
  background-color: rgb(223, 221, 221); 
  border-radius: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 115px;
  width: 115px;
}
.profile {
  height: 100px;
  width: 100px;
  border-radius: 130px;
} 

input{
    width: 300px;
    height: 50px;
    /* border-radius: 60px; */
    box-shadow: inset 0px 0px 25px 0px #888;
    border: none;
    outline: none;
    
}

.email{
    height: 25px;
    width: 25px;
    position: absolute;
    padding: 14px 0 0 25px;
}

.name{
    padding-left: 70px;
    font-size: 20px;
}
.second-input{
    padding-top: 20px;
}

button{
  text-align: center;
    width: 200px;
    height: 50px;
    border-radius: 100px;
    background-color:black;
    color: white;
    font-size: 25px;
    border: none;
}
.login-button{
    padding-top: 3px;
    cursor: pointer;
}


.link{
    font-size: 25px;
    font-weight: 400;
}
 a{
     color: blue;
 }