.user1{
    width:800px;
    margin-left:10%;
}
img{
    margin-top: 10%;
    width: 279px;
    height:273px;
}
h1{
    margin-left: 25%;
}
.aibtn{
    margin-left: 70%;
    color: white;
     
}
.txt{
    margin-left: 15%;
}
.myacc{
    color: white;
    margin-top: -20%;
    margin-left: 50%;
}