.posthead{
   align-items: center;
    color:white;
}
input{
    width:90px;
}
.comment{
    width: 56%;
    height: 225px;
    margin-left: 20%;
}
.postbtn{
    margin-left: 45%;
    cursor: pointer;
}