.user1{
    width:800px;
    /* margin-left:-70%; */
}
img{
    margin-left: -135%;
    width: 279px;
    height:273px;
}
.mc{
    margin-top: -230px;
    color: blueviolet;
    /* background-color:  #d3b1c2; */

}
h1{
    margin-left: 45%;
}
.aibtn{
    margin-left: 70%;
    color: blue;
}
.txt{
    margin-left: 15%;
}
.myacc{
    color:blueviolet;
    margin-top: -50%;
    margin-left: 50%;
}